<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.team.board.mapper.BoardMapper">
    <!-- Contents insert -->
	<insert id="contentRegist">
		insert into contents(cno, title, writer, genre, g_detail,
							 place, startdate, enddate, actors,
							 starttime, episode, price, p_detail,
							 summary, notice, explanation)
		values(contents_seq.nextval, #{title}, #{writer}, 
			   #{genre}, #{g_detail}, #{place}, #{startdate}, 
			   #{enddate}, #{actors}, #{startTime}, #{episode}, 
			   #{price}, #{p_detail}, #{summary}, #{notice}, #{explanation})
	</insert>
	<!-- FindKey(CNO) -->
	<select id="findkey" resultType="long">
		select cno from contents where title = #{title}
	</select>
	
	<!-- File DB Upload -->
	<insert id="fileUpload">
		insert into c_files(fno, filename, fileloca, realname, cno) values (c_files_seq.nextval, #{fileName}, #{fileLoca}, #{realName}, #{cno})
	</insert>
	
	<!-- Contents Load -->
	<select id="getContents" resultType="ContentVO">
		select * from contents order by cno desc
	</select>
	
	<!-- Find Content -->
	<select id="contentInfo" resultType="ContentVO">
		select * from contents where cno = #{cno}
	</select>
	<select id="fileInfo" resultType="C_fileVO">
		select * from c_files where cno = #{cno}
	</select>
  </mapper>